html {
  font-size: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
figure,
menu,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
select,
th,
td {
  margin: 0;
  padding: 0;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h2 {
  font-size: 14px;
}
h3 {
  font-size: 14px;
}
h1,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
i,
var {
  font-style: normal;
}
strong {
  font-weight: normal;
}
ul,
ol {
  list-style: none;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
}
textarea {
  overflow: hidden;
  vertical-align: top;
}
input,
textarea {
  -webkit-appearance: none;
}
input[type=search] {
  -webkit-appearance: none;
}
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}
img {
  border: none;
  vertical-align: top;
}
a {
  color: inherit;
  text-decoration: none;
}
